#! /bin/bash

# Declare all variables first
PROJECT_ROOT=""

# Now assign values to the variables
PROJECT_ROOT="${PWD}"

PACKAGE_NAME="$(basename "${PWD}")"
# Export all variables
export PROJECT_ROOT
export PACKAGE_NAME
